 /* CSS for Codes (BASE) */
    .answer{

    }
    .answer-hidden{
        opacity: 0;
    }
    .audio-secret-message{
        
    }
    .audacity-sos{
        float: right;
    }
    .bits-vs-letters-morse-code{
        display: flex;
        justify-content: center;
    }
        .bits-vs-letters-morse-code table{
            border-collapse: collapse;
        }
    .codes-contents{

    }
    /*.contents{
        overflow: visible;
        font-weight: bold;
        border: 3px solid blue;
    }*/
    .example-contents{

    }
    /*.first-table-row{

    }
    .header-one,
    .header-two{
        display: block;
        text-align: center;
    }*/
    .img-wrapper{
        display: flex;
        justify-content: center;
    }
    /*.link-container{

    }*/
    
    .navajo-talkers{
        float: right;
    }
    p{
        text-indent: 2rem;
    }
    .additional-material,
    .question{
        cursor: pointer;
    }
        .question:hover{
            color: yellow;
        }
    .question-answer{
        text-align: center;
    }
    .answer{
        opacity: 1;
        transition: opacity 1s, display 1s;
        transition-behavior: allow-discrete;
        @starting-style{
            opacity: 0;
        }
    }
    /* .code-examples-hidden{*/
    .answer-hidden{
        opacity: 0;
        display: none;
    }
    .additional-material{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
/*End CSS for Codes (BASE) */
@media only screen and (max-width: 599px){
    .additional-material{
        width: 95%;
        margin-left: 2rem;
    }
    .additional-material label{
        margin-bottom: 1rem;
        
    }
    .answer,
    .question{
        font-size: 1.5rem;
    }
    .bits-vs-letters-morse-code{
        font-size: 1.4rem;
    }
    .bits-vs-letters-morse-code table td{
        padding: 0.5rem;
    }
    .bits-vs-letters-morse-code td:nth-child(1){
        width: 30%;
    }
    .bits-vs-letters-morse-code td:nth-child(2){
        width: 70%;
    }
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 2rem;
    }
    .header-two{
        font-size: 1.4rem;
    }
    p{
        font-size: 1.2rem;
        text-indent: 1.5rem;
    }
}
        
@media only screen and (min-width: 600px) and (max-width: 749px){
    .answer,
    .question{
        font-size: 1.7rem;
    }
    .bits-vs-letters-morse-code{
        font-size: 1.4rem;
    }
    .bits-vs-letters-morse-code table td{
        padding: 0.5rem;
    }
    .bits-vs-letters-morse-code td:nth-child(1){
        width: 25%;
    }
    .bits-vs-letters-morse-code td:nth-child(2){
        width: 75%;
    }
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 2rem;
    }
    .header-two{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.4rem;
        text-indent: 1.5rem;
    }
}

@media only screen and (min-width: 750px) and (max-width: 899px){
    .answer,
    .question{
        font-size: 1.8rem;
    }
    .bits-vs-letters-morse-code{
        font-size: 1.4rem;
    }
    .bits-vs-letters-morse-code table td{
        padding: 0.5rem;
    }
    .bits-vs-letters-morse-code td:nth-child(1){
        width: 20%;
    }
    .bits-vs-letters-morse-code td:nth-child(2){
        width: 80%;
    }
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 2.2rem;
    }
    .header-two{
        font-size: 1.9rem;
    }
    p{
        font-size: 1.5rem;
        text-indent: 1.7rem;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1049px){
    .answer,
    .question{
        font-size: 1.9rem;
    }
    .bits-vs-letters-morse-code{
        font-size: 1.6rem;
    }
    .bits-vs-letters-morse-code table td{
        padding: 0.5rem;
    }
    .bits-vs-letters-morse-code td:nth-child(1){
        width: 20%;
    }
    .bits-vs-letters-morse-code td:nth-child(2){
        width: 80%;
    }
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 2.4rem;
    }
    .header-two{
        font-size: 2.1rem;
    }
    p{
        font-size: 1.7rem;
        text-indent: 2rem;
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1199px){
    .answer,
    .question{
        font-size: 2rem;
    }
    .bits-vs-letters-morse-code{
        font-size: 1.6rem;
    }
    .bits-vs-letters-morse-code table td{
        padding: 0.5rem;
    }
    .bits-vs-letters-morse-code td:nth-child(1){
        width: 15%;
    }
    .bits-vs-letters-morse-code td:nth-child(2){
        width: 85%;
    }
    .contents{
        padding: 0 1.5rem;
    }
    .header-one{
        font-size: 2.4rem;
    }
    .header-two{
        font-size: 2.1rem;
    }
    p{
        font-size: 1.7rem;
        text-indent: 2rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .answer,
    .question{
        font-size: 2.3rem;
    }
    .bits-vs-letters-morse-code{
        font-size: 1.8rem;
    }
    .bits-vs-letters-morse-code table td{
        padding: 0.5rem;
    }
    .bits-vs-letters-morse-code td:nth-child(1){
        width: 15%;
    }
    .bits-vs-letters-morse-code td:nth-child(2){
        width: 85%;
    }
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 2.6rem;
    }
    .header-two{
        font-size: 2.4rem;
    }
    p{
        font-size: 2.2rem;
        text-indent: 2.8rem;
    }
}

@media only screen and (min-width: 1400px){
    .answer,
    .question{
        font-size: 2.7rem;
    }
    .bits-vs-letters-morse-code{
        font-size: 2.4rem;
    }
    .bits-vs-letters-morse-code table td{
        padding: 1.5rem;
    }
    .bits-vs-letters-morse-code td:nth-child(1){
        width: 15%;
    }
    .bits-vs-letters-morse-code td:nth-child(2){
        width: 85%;
    }
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 3rem;
    }
    .header-two{
        font-size: 2.8rem;
    }
    p{
        font-size: 2.5rem;
        text-indent: 3rem;
    }
}
    