

/* CSS for Training/Introduction/TruthTables (BASE) */

    /*.contents{
        overflow: visible;
        font-weight: bold;
    }*/
/* .gif-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .gif-container video{
            width: 60%;
    }*/
    /*.header-one,
    .header-two{
        display: block;
        text-align: center;
    } */
      .morse-code-table-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .morse-code-container{
        padding: 0 0.5rem;
      }
      .morse-code-table{
        table-layout: fixed;
        border-collapse: collapse;
      }
      /*.morse-code-table th, td{
        border: 3px solid black;
      }*/
      .smk-header{
        background-color: lightblue;
      }
      .smk-body{
        background-color: lightgoldenrodyellow;
        white-space: nowrap;
      }

        .table-input-width-font-size{
            text-align: center;
            width: 3rem;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .table-padding-margin{
            padding: 0.2rem 0.2rem;
            margin: 0;
        }
      
       /* .samuel-morse-key-table{
            justify-content: space-around;
            align-items: center;
        }
            
        .smk-img-container{
            display: flex;
            justify-content: center;
            align-content: center;
            width: 40vw;
            height: 60vh;
            border: 1px solid red;
        }*/
        /*.td-font-size {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }*/
        .tdth-contents{
            text-align: center;
        }
       /* 
        p{
            text-indent: 2rem;
        }*/
        .gif-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /*border: 2px solid violet;*/
        }
        .odometer-container{
            /*width: 90vw; 17rem;*/
            display: flex;
            justify-content: start;
            border: 3px solid black;
        }
        .start-odometer{
            cursor: pointer;
            font-weight: bold;
        }
            .start-odometer:hover{
                color: yellow;
            }
        .digit-container{
           /* position: relative;*/
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
           /* border: 2px solid white;*/
            background-color: black;

        }
            .digit-container div{
               /* display: flex;
                justify-content: center;
                align-items: center;*/
                /*position: absolute;*/
            }

/*End CSS for Codes (BASE) */
@media only screen and (max-width: 599px){
/* CSS for Text  */
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 1.7rem;
    }
    .header-two{
        font-size: 1.6rem;
        /* text-indent: 1.5rem; */
    }
    p{
        font-size: 1.2rem;
    }
    .type-1 li{
        font-size: 1.2rem;
        margin-left: 2.5rem;
    }

/*END CSS for Text  */

/* CSS for Tables  */
    .img-width{
        width: 30vw;
    }
    .morse-code-table-1{
        width: 35vw !important;
    }
    .morse-code-table-2{
        width: 20vw !important;
    }
    .morse-code-table-3{
        width: 25vw !important;
    }
    .morse-code-table-4{
        width: 20vw !important;
    }
    .morse-code-container p{
        font-size: 1.35rem;
    }
    /*.morse-code-2-bit img{
        width: 7rem;
        padding-top: 1rem;
    }
    .morse-code-3-bit img{
        width: 10rem;
        padding-top: 1rem;
    }
    .morse-code-4-bit img{
        width: 10rem;
        padding-top: 1rem;
    }*/
        .table-title{
            font-size: 1.35rem;
        }
        .inputs-output-tr{
            font-size: 1.3rem;
        }
        .bits{
            font-size: 1.2rem;
        }
        .td-font-size {
            font-size: 1.2rem;
        }
        tbody tr td{
            /*padding: 1rem 0;*/
        }
/*END CSS for Tables  */
    .odometer-container{
        /*width: 50vw;
        height: 5rem;*/
    }
    .digit-container{
        padding: 0.3rem 1rem;
        width: 1.5rem;
        margin: 0.1rem;
    }
        .digit-container div{
            font-size: 1.5rem;
        }
        .start-odometer{
            font-size: 1.5rem;
        }
}
          
@media only screen and (min-width: 600px) and (max-width: 749px){
/* CSS for Text  */
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 1.7rem;
    }
    .header-two{
        font-size: 1.6rem;
       /* text-indent: 1.5rem; */
    }
    p{
      font-size: 1.4rem;
    }
    .type-1 li{
      font-size: 1.4rem;
      margin-left: 2.5rem;
    }
/*END CSS for Text  */

/* CSS for Tables  */
    .img-width{
        width: 30vw;
    }
    .smk-img-container{
        width: 20vw;
        /*border: 2px solid red;*/
    }
    .morse-code-table-1{
        width: 45vw !important;
    }
    .morse-code-table-2{
        width: 35vw !important;
    }
    .morse-code-table-3{
        width: 50vw !important;
    }
    .morse-code-table-4{
        width: 50vw !important;
    }
    .morse-code-container p{
        font-size: 1.4rem;
    }
    .morse-code-2-bit img{
        width: 7rem;
        padding-top: 1rem;
    }
    .morse-code-3-bit img{
        width: 10rem;
        padding-top: 1rem;
    }
    .morse-code-4-bit img{
        width: 10rem;
        padding-top: 1rem;
    }
        .table-title{
        font-size: 1.4rem;
        }
        .inputs-output-tr{
            font-size: 1.35rem;
        }
        .bits{
            font-size: 1.3rem;
            width: 3rem !important;
        }
        .td-font-size {
            font-size: 1.3rem;
        }
        tbody tr td{
            padding: 1rem 0;
        }
/*END CSS for Tables  */

    .digit-container{
        padding: 0.5rem 1.2rem;
        /*width: 1.5rem;*/
        margin: 0.1rem;
    }
        .digit-container div{
            font-size: 1.7rem;
        }
        .start-odometer{
            font-size: 1.9rem;
        }
}
  
@media only screen and (min-width: 750px) and (max-width: 899px){
    /* CSS for Text  */
    .contents{
        padding: 0 1rem;
    }
        .header-one{
            font-size: 1.9rem;
        }
        .header-two{
            font-size: 1.8rem;
           /* text-indent: 1.5rem; */
        }
        p{
          font-size: 1.6rem;
        }
        .type-1 li{
          font-size: 1.5rem;
          margin-left: 4rem;
        }
    /*END CSS for Text  */
    
    /* CSS for Tables  */
        .img-width{
            width: 30vw;
        }
        .morse-code-table-1{
            width: 45% !important;
        }
        .morse-code-table-2{
            width: 55% !important;
        }
        .morse-code-table-3{
            width: 50% !important;
        }
        .morse-code-table-4{
            width: 50% !important;
        }
        .morse-code-container p{
            font-size: 1.4rem;
        }
        .morse-code-2-bit img{
            width: 7rem;
            padding-top: 1rem;
        }
        .morse-code-3-bit img{
            width: 10rem;
            padding-top: 1rem;
        }
        .morse-code-4-bit img{
            width: 12rem;
            padding-top: 1rem;
        }
            .table-title{
            font-size: 1.6rem;
            }
            .inputs-output-tr{
                font-size: 1.5rem;
            }
            .bits{
                font-size: 1.5rem;
            width: 3rem !important;
            }
            .td-font-size {
                font-size: 1.5rem;
            }
            tbody tr td{
                padding: 1rem 0;
            }
    /*END CSS for Tables  */
    
    .digit-container{
        padding: 0.5rem 1.2rem;
        /*width: 1.5rem;*/
        margin: 0.1rem;
    }
        .digit-container div{
            font-size: 1.7rem;
        }
        .start-odometer{
            font-size: 1.9rem;
        }
}

@media only screen and (min-width: 900px) and (max-width: 1049px){
    /* CSS for Text  */
    .contents{
        padding: 0 1rem;
    }
    .header-one{
        font-size: 2.4rem;
    }
    .header-two{
        font-size: 2.2rem;
    /* text-indent: 1.5rem; */
    }
    p{
    font-size: 1.9rem;
    }
    .type-1 li{
    font-size: 1.8rem;
    margin-left: 4rem;
    }
    /*END CSS for Text  */

    /* CSS for Tables  */
    .img-width{
        width: 30vw;
    }
    .morse-code-table-1{
        width: 45% !important;
    }
    .morse-code-table-2{
        width: 55% !important;
    }
    .morse-code-table-3{
        width: 50% !important;
    }
    .morse-code-table-4{
        width: 50% !important;
    }
    .morse-code-container p{
        font-size: 1.7rem;
    }
    .morse-code-2-bit img{
        width: 8rem;
        padding-top: 1rem;
    }
    .morse-code-3-bit img{
        width: 12rem;
        padding-top: 1rem;
    }
    .morse-code-4-bit img{
        width: 15rem;
        padding-top: 1rem;
    }
        .table-title{
        font-size: 1.8rem;
        }
        .inputs-output-tr{
            font-size: 1.7rem;
        }
        .bits{
            font-size: 1.7rem;
            width: 3rem !important;
        }
        .td-font-size {
            font-size: 1.7rem;
        }
        tbody tr td{
            padding: 1rem 0;
        }
    /*END CSS for Tables  */
    
    .digit-container{
        padding: 0.5rem 1.2rem;
        /*width: 1.5rem;*/
        margin: 0.1rem;
    }
        .digit-container div{
            font-size: 1.7rem;
        }
        .start-odometer{
            font-size: 1.9rem;
        } 
}

@media only screen and (min-width: 1050px) and (max-width: 1199px){
    /* CSS for Text  */
    .contents{
        padding: 0 2rem;
    }
    .header-one{
        font-size: 2.8rem;
    }
    .header-two{
        font-size: 2.6rem;
    /* text-indent: 1.5rem; */
    }
    p{
    font-size: 2.2rem;
    }
    .type-1 li{
    font-size: 2.1rem;
    margin-left: 4rem;
    }
    /*END CSS for Text  */

    /* CSS for Tables  */
    .img-width{
        width: 30vw;
    }
    .morse-code-table-1{
        width: 45% !important;
    }
    .morse-code-table-2{
        width: 55% !important;
    }
    .morse-code-table-3{
        width: 50% !important;
    }
    .morse-code-table-4{
        width: 50% !important;
    }
    .morse-code-container p{
        font-size: 1.9rem;
    }
    .morse-code-1-bit img{
        width: 18rem;
    }
    .morse-code-2-bit img{
        width: 9.5rem;
        padding-top: 1rem;
    }
    .morse-code-3-bit img{
        width: 15rem;
        padding-top: 1rem;
    }
    .morse-code-4-bit img{
        width: 18rem;
        padding-top: 1rem;
    }
        .table-title{
        font-size: 1.9rem;
        }
        .inputs-output-tr{
            font-size: 1.8rem;
        }
        .bits{
            font-size: 1.8rem;
            width: 3rem !important;
        }
        .td-font-size {
            font-size: 1.8rem;
        }
        tbody tr td{
            padding: 1rem 0;
        }
    /*END CSS for Tables  */
    
    .digit-container{
        padding: 0.5rem 1.2rem;
        /*width: 1.5rem;*/
        margin: 0.1rem;
    }
        .digit-container div{
            font-size: 2rem;
        }
        .start-odometer{
            font-size: 2.1rem;
        } 
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    /* CSS for Text  */
    .contents{
        padding: 0 2rem;
    }
    .header-one{
        font-size: 3rem;
    }
    .header-two{
        font-size: 2.8rem;
    /* text-indent: 1.5rem; */
    }
    p{
    font-size: 2.4rem;
    }
    .type-1 li{
    font-size: 2.2rem;
    margin-left: 4rem;
    }
    /*END CSS for Text  */

    /* CSS for Tables  */

    .table-padding-margin{
        padding: 0.2rem 0.2rem;
        margin: 0;
    }

    .img-width{
        width: 30vw;
    }
    .morse-code-table-1{
        width: 45% !important;
    }
    .morse-code-table-2{
        width: 55% !important;
    }
    .morse-code-table-3{
        width: 50% !important;
    }
    .morse-code-table-4{
        width: 50% !important;
    }
    .morse-code-container p{
        font-size: 2.4rem;
    }
    .morse-code-1-bit img{
        width: 20rem;
    }
    .morse-code-2-bit img{
        width: 10rem;
        padding-top: 1rem;
    }
    .morse-code-3-bit img{
        width: 15rem;
        padding-top: 1rem;
    }
    .morse-code-4-bit img{
        width: 18rem;
        padding-top: 1rem;
    }
        .table-title{
        font-size: 2.1rem;
        }
        .inputs-output-tr{
            font-size: 2rem;
        }
        .bits{
            font-size: 2rem;
            width: 3rem !important;
        }
        .td-font-size {
            font-size: 2rem;
        }
        tbody tr td{
            padding: 1rem 0;
        }
    /*END CSS for Tables  */ 
    
    .digit-container{
        padding: 0.5rem 1.2rem;
        /*width: 1.5rem;*/
        margin: 0.1rem;
    }
        .digit-container div{
            font-size: 2.2rem;
        }
        .start-odometer{
            font-size: 2.4rem;
        }
} 

@media only screen and (min-width: 1400px){
    /* CSS for Text  */
    .contents{
        padding: 0 2rem;
    }
    .header-one{
        font-size: 3.5rem;
    }
    .header-two{
        font-size: 3.2rem;
    }
    p{
    font-size: 2.8rem;
    }
    .type-1 li{
    font-size: 2.6rem;
    margin-left: 7rem;
    }
    /*END CSS for Text  */

    /* CSS for Tables  */
    .table-padding-margin{
        padding: 0.2rem 0.2rem;
        margin: 0;
    }
    
    .img-width{
        width: 30vw;
    }

    .morse-code-table-1{
        width: 45% !important;
    }
    .morse-code-table-2{
       /* width: 55% !important;*/
    }
    .morse-code-table-3{
        width: 50% !important;
    }
    .morse-code-table-4{
        width: 50% !important;
    }
    .morse-code-container p{
        font-size: 2.6rem;
    }
    .morse-code-1-bit img{
        width: 24rem;
    }
    .morse-code-2-bit img{
        width: 13rem;
        padding-top: 1rem;
    }
    .morse-code-3-bit img{
        width: 20rem;
        padding-top: 1rem;
    }
    .morse-code-4-bit img{
        width: 24rem;
        padding-top: 1rem;
    }
        .table-title{
        font-size: 2.6rem;
        }
        .inputs-output-tr{
            font-size: 2.4rem;
        }
        .bits{
            font-size: 2.4rem;
           min-width: 3rem !important;
            padding: 0 2rem;
        }
        .td-font-size {
            font-size: 2.4rem;
        }
        tbody tr td{
            padding: 1rem 0;
        }
    /*END CSS for Tables  */
    
    .digit-container{
        padding: 0.5rem 1.2rem;
        /*width: 1.5rem;*/
        margin: 0.1rem;
    }
        .digit-container div{
            font-size: 2.4rem;
        }
        .start-odometer{
            font-size: 2.6rem;
        }  
}